
# ASPNETCORE_ENVIRONMENT=Development
# ASPNETCORE_URLS=http://localhost:8080

# Cors__AllowedOrigins__0=http://localhost:3000
# Cors__AllowedOrigins__1=https://wx1116-prod-blazor.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io

# WORKER_DOTNET_URL=https://wx1116-prod-worker.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io

# DB_CONNECTION_STRING=

# AZURE_FOUNDRY_PROD_PROJ_URL=https://wx1116prod2th7yydhws5h6.services.ai.azure.com/api/projects/wx1116-prod-proj
# AZURE_FOUNDRY_PROD_MODEL=gpt-5.4-mini
# AZURE_FOUNDRY_PROD_CURRENT_WX_AGENT_NAME=wx1116-agent-for-current-weather
# AZURE_FOUNDRY_PROD_CHAT_AGENT_NAME=wx1116-agent-for-chat

# MCP_SRV_APP_SERVICE_URL=https://wx1116-prod-mcp-srv-app-service.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# MCP_SRV_APP_SERVICE_KEY=
# MCP_SRV_FUNC_APP_URL=https://wx1116-prod-mcp-srv-func-app.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# MCP_SRV_FUNC_APP_KEY=
# MCP_SRV_PYTHON_URL=https://wx1116-prod-mcp-srv-python.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# MCP_SRV_PYTHON_KEY=
