
# ASPNETCORE_ENVIRONMENT=Development
# ASPNETCORE_URLS=http://localhost:8090

# UI_REACT_URL=http://localhost:3000
# UI_BLAZOR_URL=https://wx1116-prod-blazor.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# MVC_URL=https://wx1116-prod-mvc.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# API_DOTNET_URL=https://wx1116-prod-api.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# WORKER_DOTNET_URL=https://wx1116-prod-worker.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io

# GOOGLE_MAPS_API_KEY=

# MCP_SRV_APP_SERVICE_URL=https://wx1116-prod-mcp-srv-app-service.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# MCP_SRV_FUNC_APP_URL=https://wx1116-prod-mcp-srv-func-app.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# MCP_SRV_PYTHON_URL=https://wx1116-prod-mcp-srv-python.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# MCP_SRV_NODE_URL=https://wx1116-prod-mcp-srv-node.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
