
# VITE_UI_BLAZOR_URL=https://wx1116-prod-blazor.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# VITE_UI_BLAZOR_URL=https://wx1116-prod-blazor.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# VITE_MVC_DOTNET_URL=https://wx1116-prod-mvc.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# VITE_MVC_DOTNET_URL=https://wx1116-prod-mvc.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io

# VITE_API_DOTNET_URL=https://wx1116-prod-api.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# VITE_WORKER_DOTNET_URL=https://wx1116-prod-worker.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io
# VITE_WORKER_DOTNET_URL=https://wx1116-prod-worker.thankfulrock-0d49c0fe.centralus.azurecontainerapps.io

# VITE_GOOGLE_MAPS_API_KEY=
